@model Purchase
<!-- model GamingPC-->

<p>
    Thank you <strong>@ViewData["Fname"] @ViewData["Lname"]</strong>  for your purchase.
</p>
<p>
    Your purchase will be shipped to <strong>@ViewData["Address"] </strong> and costing <strong>$@ViewData["Price"]</strong> before shipping and taxes.
</p>

