@model GamingPC
@{
    string title = ViewBag.Action;
    ViewBag.Title = title;
}

<div class="">
    <h2 class="h2 text-black-50 text-center">@Model.Summary</h2>
</div>

<div>
    <div>
        <img src="~/images/@Model.ImageLink" alt="desktop image" width="400px" height="400px" />

    </div>
    <div>
        <p>@Model.Componets</p>
    </div>
    <div>
        <a asp-controller="GamingPC" asp-action="Purchase" asp-route-id="@Model.PcId"> <button class="btn btn-primary"> Add to cart!</button></a>
    </div>
</div>
