@model GamingPC
@{
    string title = ViewBag.Action;
    ViewBag.Title = title;

    var imagePath = Model.ImageLink;
}

<div class="">
    <h2 class="h2 text-black-50 text-center">Details for @Model.Summary</h2>
</div>

<div>
    <div>
        <img src="@imagePath" alt="desktop image" width="200px" height="200px" />
    </div>
</div>