@model ASP.Net_project.Models.Power

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.PowerName)</h1>

<div>
    <hr />
        <p class = "col-sm-10">
           Price $@Html.DisplayFor(model => model.PowerPrice)
        </p>        
        <p class = "col-sm-10">
            <img width="350" height="350" src="/images/@Html.DisplayFor(model => model.ImageLink)" />
        </p>
</div>
<div>

</div>
