@model IEnumerable<ASP.Net_project.Models.MotherBoard>

@{
    ViewData["Title"] = "Mother Boards";
}

<h1>Mother Boards</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Mother Board Name @*@Html.DisplayNameFor(model => model.MotherBoardName)*@
            </th>
            <th>
               Price @*@Html.DisplayNameFor(model => model.MotherBoardPrice)*@
            </th>
            <th>
                Image @*@Html.DisplayNameFor(model => model.ImageLink)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MotherBoardName)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.MotherBoardPrice)
            </td>
            <td>
                <img src="/images/@Html.DisplayFor(modelItem => item.ImageLink)" width="50" height="50" />
            </td>
            <td>
                <a asp-action="Add" asp-route-id="@item.MotherBoardId">Add</a> |
                <a asp-action="Details" asp-route-id="@item.MotherBoardId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
