@model ASP.Net_project.Models.Ram

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.RamName)</h1>

<div>
    
    <hr />
   
        <p class="col-sm-2">
            <img width="350" height="350" src="/images/@Html.DisplayFor(model => model.ImageLink)" />
        </p>        
        <p class="col-sm-10">
            Price  $@Html.DisplayFor(model => model.RamPrice)
        </p>
    
</div>
<div>
    
</div>
