@model ASP.Net_project.Models.Gpu

@{
    ViewData["Title"] = "Details";
}

<h1>Details of @Html.DisplayFor(model => model.GpuName)</h1>

<div>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            Price
        </dt>
        <dd class = "col-sm-10">
           $ @Html.DisplayFor(model => model.GpuPrice)
        </dd>
        
        <dd class = "col-sm-10">
            <img src="/images/@Html.DisplayFor(model => model.ImageLink)" width="350" height="350" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GpuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
