@model Purchase 

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3 class="h3 text-black-50 text-center">Credit Card Payment</h3>

    <form method="post" asp-controller="Purchase" asp-action="login" class="form-group">
        <div>
            <label asp-for="PurchaseId">Purchase Id:</label>
            <input asp-for="PurchaseId" class="form-control" />
            <span asp-validation-for="PurchaseId" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ComputerId">Computer Id:</label>
            <input asp-for="ComputerId" class="form-control"/>
            <span asp-validation-for="ComputerId" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Fname">First Name:</label>
            <input asp-for="Fname"  class="form-control" />
            <span asp-validation-for="Fname" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Lname">Last Name:</label>
            <input asp-for="Lname" />
            <span asp-validation-for="Lname" class="text-danger"></span>
        </div>
        <div>
            <label for="Email">Email:</label>
            <input type="text" id="Email" name="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label for="Phone">Phone:</label>
            <input type="text" id="Phone" name="Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div>
            <label for="Address">Address:</label>
            <input type="text" id="Address" name="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div>
            <label for="PCode">Postal Code:</label>
            <input type="text" id="PCode" name="PCode" />
            <span asp-validation-for="PCode" class="text-danger"></span>
        </div>

        <div>
            <label for="CardNo">Card Number:</label>
            <input type="text" id="CardNo" name="CardNo" />
            <span asp-validation-for="CardNo" class="text-danger"></span>
        </div>

        <div>
            <label for="HolderName">Card Holder:</label>
            <input type="text" id="HolderName" name="HolderName" />
            <span asp-validation-for="CardHolderName" class="text-danger"></span>
        </div>

        <div>
            <label for="CardExpDate">Expiry Date:</label>
            <input type="text" id="CardExpDate" name="CardExpDate" />
            <span asp-validation-for="CardExpDate" class="text-danger"></span>
        </div>

        <div>
            <label for="CvcNo">CVC No:</label>
            <input type="text" id="CvcNo" name="CvcNo" />
            <span asp-validation-for="CvcNo" class="text-danger"></span>
        </div>
        <div>
            <a asp-controller="GamingPC" asp-action="Confirmation"><button class="btn btn-primary">Cofirm</button></a>
        </div>

    </form>
    <span></span>

</body>
</html>
