@model Purchase 


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Credit Card Payment</h3>

    <form method="post" asp-controller="Purchase" asp-action="login">
        <table border="0" cellpadding="2" cellspacing="2">
            <tr>
                <td>Purchase Id:</td>
                <td><input type="text" name="PurchaseId"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>Card No:</td>
                <td><input type="text" name="CardNo"></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="Fname"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>Holder Name:</td>
                <td><input type="text" name="HolderName"></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" name="Lname"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>Expire Date:</td>
                <td><input type="text" name="CardExpDate"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="Email"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>CVC No:</td>
                <td><input type="text" name="CvcNo"></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" name="Phone"></td>
            </tr>
            <tr>
                <td>Adress:</td>
                <td><input type="password" name="Address"></td>
            </tr>
            <tr>
                <td>Postal Code:   </td>
                <td><input type="password" name="PCode"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><button type="button"><a asp-controller="GamingPC" asp-action="Confirmation">Cofirm</a></button></td>
            </tr>
        </table>
    </form>

</body>
</html>
