@model Purchase
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Credit Card Payment</h3>
    @ViewBag.error
    <form method="post" asp-controller="account" asp-action="login">
        <table border="0" cellpadding="2" cellspacing="2">
            <tr>
                <td>Purchase Id:</td>
                <td><input type="text" name="PurchaseId"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>Card No:</td>
                <td><input type="text" name="PurchaseId"></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="fname"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>Holder Name:</td>
                <td><input type="text" name="PurchaseId"></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" name="lname"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>Expire Date:</td>
                <td><input type="text" name="PurchaseId"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>CVC No:</td>
                <td><input type="text" name="PurchaseId"></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <td>Adress:</td>
                <td><input type="password" name="adress"></td>
            </tr>
            <tr>
                <td>Postal Code:   </td>
                <td><input type="password" name="pCode"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Confirm Payment"></td>
            </tr>
        </table>
    </form>

</body>
</html>
